<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianchang.mapper.RoleMenuMapper">

    <insert id="insertRoleMenu" parameterType="map">
        INSERT INTO stf.sys_role_menu(role_id,menu_id)
        VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId},#{menuId})
        </foreach>
    </insert>
    <delete id="deleteRoleMenu">
        DELETE FROM stf.sys_role_menu
        WHERE role_id = #{roleId}
    </delete>
</mapper>